.room {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 22px;
}

.bot {
  font-size: small;
  color: #424242;
  text-align: center;
  font-style: italic;
}

.self {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.other {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bot .title,
.self .title {
  display: none;
}

.other .title {
  font-size: small;
  text-decoration: underline;
  font-weight: 500;
  color: #666666;
}

.bot .body {
  margin-bottom: 12px;
}

.self .body,
.other .body {
  max-width: 65%;
  margin: 3px 0 12px;
}

.self .body {
  background-image: linear-gradient(to bottom right, #cccccc, #efefef);
  padding: 12px;
  border-radius: 15px;
}

.other .body {
  background-image: linear-gradient(
    to top right,
    rgb(2, 162, 255),
    rgb(0, 255, 0)
  );

  color: white;
  padding: 12px;
  border-radius: 15px;
}
